.product-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  max-width: 375px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 30px;
}

.product-image img {
  width: 100%;
  border-radius: 0;
}

.product-info {
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
}

.category {
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 28px;
  line-height: 1;
  color: hsl(212, 21%, 14%);
  margin: 5px 0;
}

.description {
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 15px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.current-price {
  font-size: 24px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  margin-right: 10px;
}

.original-price {
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.add-to-cart {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-content: center;
  width: 100%;
}

.add-to-cart:hover {
  background-color: hsl(158, 36%, 30%);
}

@media (min-width: 1440px) {
  .product-card {
      flex-direction: row;
      max-width: 700px;
  }

  .product-image img {
      width: 50%;
      border-radius: 16px 0 0 16px;
  }

  .product-info {
      padding: 30px;
  }

  h1 {
      font-size: 28px;
  }

  .current-price {
      font-size: 28px;
  }

  .add-to-cart {
      padding: 15px;
  }
}
